* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --headingColor: chocolate;
    --subHeadingColor: crimson;
    --paragraphColor: rgb(43, 27, 18);
    --headingFontSize: 30px;
    --subHeadingFontSize: 23px;
    --paragraphFontSize: 18px;
    --sectionPadding: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: var(--headingFontSize);
    text-align: center;
    color: var(--headingColor);
    margin-bottom: 50px;
}

.headingBottom {
    margin-top: -45px;
    text-align: center;
    color: var(--headingColor);
    font-weight: 700;
}

.heading span {
    position: relative;
}

.heading span::after {
    right: -50px;
    position: absolute;
    content: '';
    top: 49px;
    width: 190px;
    height: 2px;
    background: var(--headingColor);
}

.heading span::before {
    left: -50px;
    position: absolute;
    content: '';
    top: 49px;
    width: 190px;
    height: 2px;
    background: var(--headingColor);
}

.subHeading {
    font-size: var(--subHeadingFontSize);
    text-align: center;
    color: var(--subHeadingColor);
    margin-bottom: var(--sectionPadding);
}

.paragraph {
    font-size: var(--paragraphFontSize);
    text-align: center;
    color: var(--paragraphColor);
    margin-bottom: var(--sectionPadding);
    padding: 0 50px 20px 50px;
}

.container {
    background-image: url('https://th.bing.com/th/id/OIP.DM_UZ92HR0P_YH8oNrp4oAHaEo?pid=ImgDet&rs=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 750px;
    display: block;
    margin: 0 auto;
}

.table {
    background-image: url('https://th.bing.com/th/id/OIP.Dzqcf4JWHjG4CjBKjT-vlAHaFj?pid=ImgDet&rs=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}

.table table {
    margin: 0 auto;
}

.list {
    display: block;
    margin-left: ;
    margin: 30px 0 30px 130px;
}

.list li a {
    color: blueviolet;
    transition: all linear .3s;
    text-decoration: none;
}

.list li:nth-child(1) a {
    color: rgb(59, 77, 158) !important;
    font-weight: 700;
}

.list li a:hover {
    color: green;
}

.list li a:active {
    color: #fff;
    background-color: red;
}

.image {
    display: block;
    margin: 30px auto 0;
    width: 300px;
    height: 300px;
}

.tableHeading {
    border: 1px solid rgb(56, 6, 102);
    padding: 5px;
}

.tableBody {
    border: 1px solid #fff;
    padding: 5px;
    transition: all linear .3s;
}

.tableBody:hover {
    background: red;
    cursor: pointer;
    color: #fff;
}


.table thead tr {
    background-color: rgb(130, 37, 143);
    color: #fff;
}

.table tbody tr td:nth-child(3) {
    background: chocolate;
    color: #fff;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.table tbody tr:nth-child(3) {
    background: green;
    color: #fff;
}